@import "./../variables.scss";

.nav-buttons {
    flex: 1;
    gap: 12px;
    display: flex;
}

.nav-info {
    display: flex;
    align-items: center;
    gap: 12px;

    .notifications {
        color: $white;
        display: flex;
        align-items: center;
        ng-icon {
            font-size: 20px;
        }
    }



    .profile-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: left;

        .image {
            border-radius: 50%;
            width: 40px;
            margin: 0px;
            cursor: pointer;
        }
    }
}