<div>
  <p>Simulação de lucro</p>
  <p>Custo: {{ evento.custo }}</p>
  <p>Nome: {{ evento.nome }}</p>
  <p>Lucro: {{ lucro() }}</p>
  <button class="button"><ng-icon name="heroArrowTrendingUp"></ng-icon></button>

  <button (click)="dim()">-</button>Pessoas: {{ quantidade()
  }}<button (click)="inc()">+</button>
</div>

<!-- Juliana Guimaraes
19:02
Boa noite, gente!
Tiago Tomé
19:02
Boa noite!
Thiago Dourado Fontenla
19:04
Boa noite!!
Gustavo Nogueira
19:11
Boa Noite
Gabriela Rodrigues
19:16
professor, leandro disse que vai chegar um pouco atrasado
Você
19:16
https://github.com/mcruzdev/ada-angular
Para fixar uma mensagem, passe o cursor sobre ela
keep
https://github.com/mcruzdev/ada-angular
https://github.com/mcruzdev/ada-angular
Você
19:27
https://ng-icons.github.io/ng-icons/#/getting-started
https://ng-icons.github.io/ng-icons/#/getting-started
https://ng-icons.github.io/ng-icons/#/getting-started
LUCAS kennde
19:39
passei 10 anos comentando os comentários nos códigos dos desenvolvedores da spaceX
passei 10 anos comentando os códigos dos desenvolvedores da spaceX
*
LUCAS kennde
19:55
não sabia que dava pra usar o else no NgIf
Você
20:07
https://angular.dev/guide/templates/control-flow#
https://angular.dev/guide/templates/control-flow#
Tiago Tomé
20:30
Professor, o senhor não retomou a gravação
Você
20:38
https://refactoring.guru/design-patterns/observer
Você
20:41
https://blog.angular-university.io/angular-signals/
Tiago Tomé
20:46
Professor, pode dar zoom, por favor?
LUCAS kennde
21:31
Massa dmais
Gustavo Nogueira
21:41
Professor, vou precisar sair
Boa noite
Você
21:41
https://angular.dev/reference/migrations/control-flow
Kauan Herbst
21:46
professor irei precisar sair mais cedo, boa noite.
Tiago Tomé
21:46
Professor, vou ter que sair
Boa noite!
Rayane Santos
21:51
Boa noite!
Luís Felipe Friedrich
21:51
boa noite pessoal!
Gabriela Rodrigues
21:51
boa noite!
Juliana Guimaraes
21:51
Boa noiteeeeeeeee
Rafael Jesus
21:51
node java ou python
ksksksk
Jorge Alexandre
21:52
node ou python
Rafael Jesus
21:52
tropa do anti java
Rodrigo Oliveira
21:53
java ❤️❤️❤️❤️ -->
