<p class="title">Using *ngIf</p>
<div class="card">
    <div class="info">
        <div>{{ account.name }}</div>
        <div><button class="button" (click)="visible = !visible"><ng-icon name="heroEyeSlash"
                    *ngIf="visible; else notVisible"></ng-icon>
                <ng-template #notVisible>
                    <ng-icon class="icon" name="heroEye"></ng-icon>
                </ng-template>

            </button></div>
    </div>
    <div class="balance">
        <div *ngIf="visible; else balanceNotVisible">{{ account.balance | number: '1.2-2'}}</div>
        <ng-template #balanceNotVisible>
            ******
        </ng-template>
    </div>
</div>


<p class="title">Using &#64;if</p>
<div class="card">
    <div class="info">
        <div>{{ account.name }}</div>
        <div>
            <button class="button" (click)="visible = !visible">
                @if (visible) {
                <ng-icon class="icon" name="heroEyeSlash"></ng-icon>
                } @else {
                <ng-icon class="icon" name="heroEye"></ng-icon>
                }
            </button>
        </div>
    </div>
    <div class="balance">
        @if (visible) {
            <div>{{ account.balance | number: '1.2-2'}}</div>
        } @else {
            <div>******</div>
        }
    </div>
</div>