@import '../../../variables.scss';

.title {
    margin: 12px 0px;
}

.card {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 400px;
    background-color: $slateGray;
    border-radius: 8px;
    padding: 12px;

    .info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 12px;
    }

    .balance {
        padding: 12px;
    }
}